
.header {
  height: 400px;
  width: 100%;
  background-color: #92b5dd; 
  background-image: url("https://www.transparenttextures.com/patterns/arabesque.png");
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-flow: column wrap;
  width: 100%
}


.avatar {
  display: flex;
  justify-content: center;
  padding-top: 5%;
}

.avatar img {
  width: 150px; 
  height: 150px; 
  border-radius: 50%;
  
}

.name {
  text-align: center;
  margin-top: 20px; 
}



