/* Styles for the tweet header */
.tweet-header {
  font-size: 30px;
  margin: 1em;
}

/* Hover effect for the entire article */
article:hover {
  box-shadow: 1px 5px;
  color: #38d6f17c;
}

/* Styles for the tweet header text */
article .tweet-header div span {
  font-size: 25px;
  font-weight: 300;
}

/* Styles for the tweet content */
article div {
  margin: 1em;
  font-size: 25px;
}

/* Styles for the tweet footer */
.tweet-foot {
  padding: 10px;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 1em;
  margin-right: 1em;
  border-top: solid;
  display: flex;
  justify-content: space-between;
  font-weight: 600;
}

/* Styles for the text within the tweet footer */
.tweet-foot div span {
  font-size: 25px;
}

/* Styles for the tweet reactions section within the footer */
.tweet-reactions {
  display: flex;
  justify-content: space-around;
}

/* Hover effect for tweet reactions */
.icon:hover {
  color: rgb(247, 142, 56);
}

/* Media query for larger screens */
@media only screen and (min-width: 1024px) {
  .container {
    width: 70%;
    padding: 0;
  }

  .container .tweet-container article {
    border: solid;
  }

  .tweet-container {
    width: 90%;
  }
}
